extends ../components/head.pug
include ../mixins/mixins.pug

block content
	.wrapper

		include ../components/header.pug

		main.main
			+menu(3 , [{ text: 'Home', href: '#' }, { text: 'About', href: '#' }, { text: 'Contacts', href: '#' }])



		include ../components/footer.pug


	script(src="js/main.js")