block vars
	- var title = 'gulp'
	- var lang = 'en'

doctype html
html.page(lang=lang)
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{title}
		link(rel="stylesheet", href="css/main.css")
	body.page-body
		block content